/* heading styling */
html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
}

main {
  background: #ccc;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 auto;
  max-width: 150rem;
}

main::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 3rem;
  max-width: 150rem;
  background: #2a0845;
  position: fixed;
  top: 0;
  z-index: 999;
  margin: 0 auto;
}

.header_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hamburger menu styling */
.hamburger_menu {
  width: 2.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.6rem;
  cursor: pointer;
}

.hamburger_menu .fa-times,
.fa-bars {
  font-size: 1.5rem;
  color: #f1f1f1;
  transition: all 0.6 ease-in;
}

.fa-times,
.fa-bars:hover {
  color: #ccc;
  font-size: 1.7rem;
}

.logo {
  height: 3rem;
  margin-left: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a {
  font-size: 2rem !important;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f1f1f1;
}
.logo > a sub {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
}

/* icon styling*/
.icon_container {
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-search {
  display: none;
}

.icon_container > span {
  display: inline-block;
  margin: 0 0.8rem;
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  color: #f1f1f1;
  transition: all 0.6;
}

.icon:hover {
  color: #ccc;
}

.shopping-cart {
  position: relative;
}

.shopping_cart_count {
  position: absolute;
  top: -0.7rem;
  right: -0.5rem;
  padding: 0.2rem;
  color: #f1f1f1;
  border-radius: 3rem;
  font-weight: bolder;
}

@media screen and (max-width: 320px) {
  .hamburger_menu .fa-times,
.fa-bars {
    font-size: 1.2rem;
    color: #f1f1f1;
  }

  .logo {
    height: 2rem;
    margin-left: 0;
  }

  .logo > a {
    font-size: 2rem;
  }

  /* icon styling*/
  .icon_container {
    margin-right: 2rem;
  }

  .icon_container > span {
    margin: 0;
  }

  .fa-user,
.fa-search {
    display: none;
  }
}
.log_in_container {
  height: 100vh;
  background: rgba(1, 1, 1, 0.679);
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  align-items: center;
  transform: translateX(500rem);
  transition: transform 1s ease-in-out;
}
.log_in_container .log_in_sign_out {
  height: 33.5rem;
  width: 90%;
  max-width: 30rem;
  margin: auto;
  background: #f1f1f1;
  box-shadow: 1px 1px 2px 2px #ccc;
  transition-delay: 1s;
  margin-top: 2rem;
}
.log_in_container .log_in_sign_out .close_login {
  cursor: pointer;
}
.log_in_container .log_in_sign_out .close_login .close_login_container {
  padding: 1rem;
}
.log_in_container .log_in_sign_out .close_login .close_login_container .fa-times {
  font-size: 1.5rem;
  color: #ff0000;
}
.log_in_container .log_in_sign_out .label_heading {
  width: 80%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.log_in_container .log_in_sign_out .label_heading h1 {
  font-size: 1.7rem;
  text-align: center;
  text-transform: capitalize;
  color: #2a0845;
}
.log_in_container .log_in_sign_out form {
  width: 70%;
  padding: 2rem;
  margin: auto;
  margin-top: 1rem;
}
.log_in_container .log_in_sign_out form .submit_container, .log_in_container .log_in_sign_out form .check_box, .log_in_container .log_in_sign_out form .mail, .log_in_container .log_in_sign_out form .google {
  height: 3rem;
}
.log_in_container .log_in_sign_out form .submit_container #login, .log_in_container .submit_container .log_in_sign_out form #login, .log_in_container .log_in_sign_out form .mail #email,
.log_in_container .log_in_sign_out form .mail #password, .log_in_container .log_in_sign_out form .google .button {
  display: inline-block;
  width: 100%;
  height: 3rem;
  border: none;
}
.log_in_container .log_in_sign_out form .google .button {
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: #ff0000;
  color: #f1f1f1;
  box-shadow: 1px 2px 2px #ff0000;
}
.log_in_container .log_in_sign_out form .google .button .fa-google {
  font-size: 1.2rem;
}
.log_in_container .log_in_sign_out form .lines_container {
  height: 2rem;
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log_in_container .log_in_sign_out form .lines_container .lines {
  width: 8rem;
  height: 0.1rem;
  background: #2a0845;
}
.log_in_container .log_in_sign_out form .lines_container p {
  margin: 0 0.4rem;
  font-size: 1.5rem;
  color: #2a0845;
}
.log_in_container .log_in_sign_out form .mail {
  height: 9.5rem;
}
.log_in_container .log_in_sign_out form .mail #email:focus,
.log_in_container .log_in_sign_out form .mail #password:focus {
  outline: 2px solid #2a0845;
}
.log_in_container .log_in_sign_out form .mail #email,
.log_in_container .log_in_sign_out form .mail #password {
  margin: 0.5rem 0;
}
.log_in_container .log_in_sign_out form .mail #email {
  padding: 0.09rem;
}
.log_in_container .log_in_sign_out form .mail #email,
.log_in_container .log_in_sign_out form .mail #password::placeholder {
  text-indent: 1rem;
}
.log_in_container .log_in_sign_out form .mail .error {
  outline: 2px solid #ff0000;
}
.log_in_container .log_in_sign_out form .mail .correct {
  outline: 2px solid #4caf50;
}
.log_in_container .log_in_sign_out form small {
  display: block;
  color: #ff0000;
  margin-top: -0.2rem;
}
.log_in_container .check_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log_in_container .check_box #checkbox {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.log_in_container .check_box .checkbox_text {
  font-size: 1.2rem;
  color: #4caf50;
}
.log_in_container .submit_container {
  margin-top: 1rem;
  background: indigo;
}
.log_in_container .submit_container #login {
  cursor: pointer;
  background: #4caf50;
  color: #f1f1f1;
  box-shadow: 1px 2px 2px #4caf50;
}
.log_in_container .submit_container #login:focus {
  outline: 2px solid #4caf50;
}
.log_in_container .member {
  height: 1rem;
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}
.log_in_container .member p,
.log_in_container .member #signup {
  font-size: 1rem;
  margin-right: 0.5rem;
  text-transform: lowercase;
}
.log_in_container .member #signup {
  display: inline-block;
  border: none;
  height: 2rem;
  background: #ff0000;
  color: #f1f1f1;
  border-radius: 0.2rem;
  cursor: pointer;
}
.log_in_container .member #signup:focus {
  outline: 2px solid #ff0000;
}

.open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .log_in_container {
    height: 100vh;
    background: rgba(1, 1, 1, 0.679);
    position: absolute;
    top: 6rem;
  }
}
.sign_up, .log_in {
  display: inline-block;
  padding: 0.5rem 1.8rem;
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: capitalize;
  border: 1px solid #111;
  border-radius: 0.15rem;
  color: #f1f1f1;
  background: #ff0000;
  cursor: pointer;
}

.sign_up:hover, .log_in:hover {
  background: #f1f1f1;
  color: #2a0845;
}

a {
  text-decoration: none;
}

.nav {
  position: absolute;
  top: 3rem;
  left: -30rem;
  background: #2a0845;
  width: 18rem;
  height: 100vh;
  transition: left 1s ease-out;
  z-index: 200;
}

.open_sidebar {
  left: 0;
}

.nav_container {
  display: flex;
  flex-direction: column;
}

.user_button {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.log_in {
  background: #4caf50;
  color: #2a0845;
}

.sign_up {
  background: #ff0000;
  color: #f1f1f1;
}

.top__items {
  height: 10rem;
}

.search__bar {
  width: 100%;
  height: 2.5rem;
}

.search_body {
  display: inline-block;
  height: 2rem;
  width: 70%;
  margin-left: 0.7rem;
}

.search_body input {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: none;
  background: #f1f1f1;
  border-radius: 0.2rem;
  text-indent: 1rem;
}

.search_body input::placeholder {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.search__button {
  background: #ff0000;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  color: #f1f1f1;
}

.links__container li {
  display: inline-block;
  height: 2.5rem;
  border-bottom: 1px solid #2a0845;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
  cursor: pointer;
}

.links__container li > a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  margin-left: 0.9rem;
  color: #f1f1f1;
}

.open_drop_down {
  padding: 0.5rem;
  margin-right: 0.3rem;
}

.fa-chevron-right {
  color: #f1f1f1;
  transition: transform 0.1s ease-out;
}

.fa-chevron-right .open {
  transform: rotate(90deg);
}

.social_media_container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icons {
  margin: 0 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

#whatsapp, #instagram, #twitter, #facebook {
  font-size: 2rem;
  color: #f1f1f1;
}

#facebook {
  color: #3b5998;
}

#twitter {
  color: royalblue;
}

#instagram {
  color: #e95950;
}

#whatsapp {
  color: lime;
}

.drop_down {
  position: absolute;
  top: 0;
  left: -19rem;
  width: 100%;
  background: #f1f1f1;
  transition: left 1s ease-in-out;
}
.drop_down .open_left {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background: #2a0845;
  cursor: pointer;
}
.drop_down .fa-chevron-left {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  color: #f1f1f1;
}
.drop_down .open_left p {
  font-size: 1.4rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-right: 0.9rem;
  color: #f1f1f1;
}
.drop_down ul > li > a {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #2a0845;
}

.active {
  left: 0;
}

@media screen and (min-width: 720px) {
  header {
    width: 100%;
    height: 3rem;
    background: #2a0845;
  }

  .header_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 119rem;
    margin: auto;
  }

  /* hamburger menu styling */
  .hamburger_menu {
    display: none !important;
  }

  .logo {
    height: 3rem;
    margin-left: 1.7rem;
  }

  .logo > a {
    font-size: 2.3rem;
    text-align: center;
    color: #f1f1f1;
  }

  /* icon styling*/
  .icon_container {
    margin-right: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon_container > span {
    display: inline-block;
    margin: 0 0.8rem;
    cursor: pointer;
  }

  .icon {
    font-size: 1.2rem;
    color: #f1f1f1;
  }

  .fa-search {
    display: block;
  }

  a {
    text-decoration: none;
  }

  .nav {
    position: absolute;
    top: 3rem;
    left: 0;
    height: 3rem;
    width: 100%;
    background: #f1f1f1;
    box-shadow: 2px 2px 3px #2a0845;
    transition: none;
  }

  .open_sidebar {
    left: 0;
  }

  .nav_container {
    height: 3rem;
    display: flex;
    flex-direction: row;
  }

  .top__items {
    display: none;
  }

  .links__container {
    height: 3rem;
    width: 100%;
    max-width: 93rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .links__container li {
    display: inline-block;
    height: 0;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
  }

  .links__container li > a {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0;
    color: #2a0845;
  }

  .fa-chevron-right {
    font-size: 0.9rem;
    transform: rotate(90deg);
    color: #2a0845;
    transition: none;
    margin: 0 0.3rem;
  }

  .fa-chevron-right .open {
    transform: none;
  }

  .social_media_container {
    display: none !important;
  }

  .background_container {
    height: 30rem;
    width: 100vw;
    background: green;
    margin-top: 6rem !important;
  }

  .container {
    height: 25rem;
    width: 100%;
  }

  .container_image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(1, 1, 1, 0.679), rgba(0, 0, 0, 0.2)), url("/images/background.jpg");
    background-position: cover;
    background-size: center;
    background-repeat: no-repeat;
  }

  .background_content {
    height: 100% !important;
    width: 50% !important;
    transform: translateY(0) !important;
    transform: translateX(20%) !important;
    margin-left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading_container {
    height: 5rem;
    margin-top: -7rem;
  }

  .heading_container h1 {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.7rem;
    color: #f1f1f1;
  }

  .btn_container {
    background: #2a0845;
    margin-top: 1rem;
    width: 7rem;
    cursor: pointer;
    transition: opacity 0.4s ease;
  }

  .btn_container:hover {
    opacity: 0.85;
  }

  .btn {
    display: block;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    color: #f1f1f1;
  }

  #container, #empty {
    height: 0.2rem;
    width: 5.8rem;
    border-radius: 6rem;
    background: #ff0000;
    margin: 0.7rem 0;
  }

  .sub {
    width: 100%;
  }

  .sub p {
    font-size: 0.85rem;
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1rem;
    color: #f1f1f1;
  }

  #container {
    width: 7rem;
  }
}
@media screen and (min-width: 1020px) {
  .background_content {
    width: 50% !important;
    margin-left: 0 !important;
    transform: translateX(10%);
  }

  .heading_container h1 {
    font-size: 1.7rem !important;
  }

  .btn {
    padding: 0.9rem !important;
  }
}
@media screen and (min-width: 2560px) {
  .background_content {
    width: 20% !important;
    transform: translateX(60%) !important;
  }

  .heading_container {
    height: 5rem;
    margin-top: -7rem;
  }

  .heading_container h1 {
    font-size: 1.9rem !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.9rem !important;
    color: #f1f1f1;
  }

  .sub p {
    font-size: 1rem !important;
  }
}
.signup_container {
  position: absolute;
  height: 200vh;
  width: 100%;
  top: 0;
  left: 200rem;
  z-index: 20;
  background: #12130f;
  display: flex;
  justify-content: center;
  transition: left 1s ease-in;
}
.signup_container .close_signup {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
.signup_container .close_signup .close_signup_container {
  padding: 1rem;
}
.signup_container .close_signup .close_signup_container .fa-times {
  font-size: 1.5rem;
  color: #12130f;
}
.signup_container .signup {
  height: 42rem;
  width: 90%;
  max-width: 28rem;
  margin: 0 auto;
  background: #f1f1f1;
  box-shadow: 0 0 3px 2px #ccc;
  margin-top: 1rem;
}
.signup_container .signup .signup_submit, .signup_container .signup .signup_checkbox, .signup_container .signup .all_mails, .signup_container .signup .signup_form .signup_google {
  height: 3rem;
}
.signup_container .signup .signup_submit #signup_login, .signup_container .signup .all_mails #username,
.signup_container .signup .all_mails #signup_email,
.signup_container .signup .all_mails #signup_password,
.signup_container .signup .all_mails #confirm, .signup_container .signup .signup_form .signup_google .signup_button {
  display: inline-block;
  width: 100%;
  height: 3rem;
  border: none;
}
.signup_container .signup .signup_heading {
  width: 80%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.signup_container .signup .signup_heading h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #2a0845;
}
.signup_container .signup .signup_form {
  width: 70%;
  padding: 2rem;
  margin: auto;
}
.signup_container .signup .signup_form .signup_google {
  box-shadow: 1px 2px 2px #ff0000;
}
.signup_container .signup .signup_form .signup_google .signup_button {
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: #ff0000;
  color: #f1f1f1;
}
.signup_container .signup .signup_lines {
  height: 2rem;
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup_container .signup .signup_lines .lines {
  width: 8rem;
  height: 0.1rem;
  background: #2a0845;
}
.signup_container .signup .signup_lines p {
  margin: 0 0.4rem;
  font-size: 1.5rem;
  color: #2a0845;
}
.signup_container .signup .all_mails {
  height: 14rem;
}
.signup_container .signup .all_mails small {
  color: #ff0000;
  margin: 0.4rem;
}
.signup_container .signup .all_mails #username,
.signup_container .signup .all_mails #signup_email,
.signup_container .signup .all_mails #signup_password,
.signup_container .signup .all_mails #confirm {
  margin: 0.5rem 0;
}
.signup_container .signup .all_mails #username,
.signup_container .signup .all_mails #signup_email,
.signup_container .signup .all_mails #signup_password,
.signup_container .signup .all_mails #confirm::placeholder {
  text-indent: 1rem;
}
.signup_container .signup .all_mails #username,
.signup_container .signup .all_mails #signup_email,
.signup_container .signup .all_mails #signup_password,
.signup_container .signup .all_mails #confirm:focus {
  outline-color: #2a0845;
}
.signup_container .signup .all_mails #signup_password {
  position: relative;
}
.signup_container .signup .signup_checkbox {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6.5rem;
}
.signup_container .signup .signup_checkbox #signup_checkbox {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.signup_container .signup .signup_checkbox .checkbox_text {
  font-size: 1.2rem;
  color: #4caf50;
}
.signup_container .signup .signup_submit #signup_login {
  cursor: pointer;
  background: #ff0000;
  color: #f1f1f1;
  box-shadow: 1px 2px 2px #ff0000;
}
.signup_container .signup .signup_submit #signup_login:focus {
  outline: 2px solid #4caf50;
}
.signup_container .signup .registered {
  height: 1rem;
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}
.signup_container .signup .registered p,
.signup_container .signup .registered #signup_btn {
  font-size: 1rem;
  text-transform: lowercase;
}
.signup_container .signup .registered #signup_btn {
  display: inline-block;
  border: none;
  height: 2rem;
  background: #4caf50;
  color: #f1f1f1;
  cursor: pointer;
}
.signup_container .signup .registered #signup_btn:focus {
  outline: 2px solid #ff0000;
}

.sign {
  left: 0;
}

.error {
  outline-color: #ff0000;
}

.correct {
  outline-color: #4caf50;
}

@media screen and (min-width: 768px) {
  .signup {
    margin-top: 4rem !important;
  }
}
.shopping_cart {
  height: 100vh;
  width: 100%;
  background: #999;
  position: fixed;
  top: 3rem;
  left: 0;
  overflow-y: scroll;
  background: #f1f1f1b3;
  transform: translateX(5000px);
  transition: transform 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .shopping_cart {
    top: 6rem;
  }
}
.cart {
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 500px;
  background: #f1f1f1;
}

.cart_details {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.cart_details .update {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  border: 1px solid #4caf50;
  color: #12130f;
}
.cart_details #cart {
  padding: 1rem 2.5rem;
}

.container {
  margin-top: 1rem;
  height: 100%;
}

.products_cart {
  position: relative;
  width: 95%;
  max-width: 27rem;
  height: 13rem;
  background: #f1f1f1;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  transition: box-shadow 0.5s ease-out;
  margin-top: 0.5rem;
}

.products_cart:hover {
  box-shadow: 5px 5px 10px 10px #ccc;
}

.image_container {
  width: 15rem;
  height: 10rem;
}
.image_container img {
  height: 100%;
  width: 100%;
}

.center {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.3rem;
}

.clear_items_container p, .call_order p, .subtotal_container .subtotal, .subtotal_container .subtotal_amount, .prices p, .shipping p, .product_name p {
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  word-spacing: 0.1rem;
  color: #12130f;
}

.product_name p {
  font-size: 0.9rem;
  line-height: 1.1;
  font-weight: bold;
}

.shipping {
  padding: 0.5rem 0;
  width: 100%;
}
.shipping p {
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: lighter;
  text-align: center;
}

.prices {
  width: 100%;
}
.prices p {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cart_details .update {
    padding: 1rem 1rem !important;
  }
  .cart_details #cart {
    padding: 1rem 2rem !important;
  }

  .image_container {
    height: 10rem;
    width: 20rem;
  }

  .product_name {
    margin-top: 0.5rem;
  }
  .product_name p {
    font-size: 0.9rem;
    line-height: 1;
    font-weight: bolder !important;
    text-emphasis: center;
  }
}
.product_buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #2a0845;
}
.product_buttons small {
  width: 0.5rem;
  height: 1rem;
  padding: 0 0.5rem;
  background: #f1f1f1;
  text-align: center;
}

.delete, .quantity > span {
  cursor: pointer;
  padding: 0.1rem;
  z-index: 2;
}

.cart_bottom_container {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_subtotal {
  width: 100%;
  height: 3rem;
}

.subtotal_container {
  width: 20rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.subtotal_container .subtotal, .subtotal_container .subtotal_amount {
  font-weight: bold;
}

@media screen and (max-width: 300px) {
  .subtotal_container {
    width: 15rem;
  }
}
.call, .clear_items {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.clear_items_container, .call_order {
  display: inline-block;
  width: 95%;
  max-width: 20rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.clear_items_container p, .call_order p {
  text-align: center;
  font-weight: bold;
  color: #f1f1f1;
}

.clear_items_container {
  background: #4caf50;
  margin-bottom: 0.5rem;
}

.call_order {
  background: #ff0000;
}

.call_order:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 1px #ff0000;
}

.clear_items_container:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 1px #4caf50;
}

.shop {
  transform: translateX(0);
}

@media screen and (min-width: 720px) {
  .drop_down {
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 10rem;
    height: 24rem;
    padding: 0.5rem;
    display: none !important;
  }
  .drop_down .open_left {
    display: none !important;
  }
  .drop_down .first,
.drop_down .second,
.drop_down .third {
    display: none !important;
  }
  .drop_down ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .drop_down ul li {
    height: 100%;
    width: 100%;
    margin-bottom: 0.9rem;
    border-bottom: 1px solid;
  }
  .drop_down li:nth-child(9) {
    border-bottom: none;
  }
  .drop_down ul > li > a {
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 0;
    margin: 0 auto;
  }

  .active {
    display: block;
  }
}
.background_container {
  height: 25rem;
  width: 100vw;
  margin-top: 3rem;
  position: relative;
}

.container {
  height: 100% !important;
  width: 100%;
}

.container_image {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(1, 1, 1, 0.679), rgba(0, 0, 0, 0.3)), url("../images/background.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.background_content {
  height: 11rem;
  width: 15rem;
  transform: translateY(50%);
  margin-left: 2rem;
}

.heading_container {
  height: 5rem;
}

.heading_container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6rem;
  color: #f1f1f1;
}

.btn_container {
  background: #2a0845;
  margin-top: 1rem;
  width: 7rem;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.btn_container:hover {
  opacity: 0.75;
}

.btn {
  display: block;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  color: #f1f1f1;
}

#container, #empty {
  height: 0.2rem;
  width: 5.8rem;
  border-radius: 6rem;
  background: #ff0000;
  margin: 0.7rem 0;
}

.sub {
  width: 100%;
}

.sub p {
  font-size: 0.85rem;
  font-weight: lighter;
  text-transform: capitalize;
  line-height: 1rem;
  color: #f1f1f1;
}

#container {
  width: 7rem;
}

@media screen and (max-width: 320px) {
  .container_image {
    background-position: center;
  }

  .background_content {
    margin-left: 0.8rem;
  }

  .heading_container h1 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .container_image {
    background-position: center;
  }
}
.overview_container {
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: -1.5rem;
}

.overview {
  width: 90%;
  max-width: 50rem;
  height: 100%;
  background: #f1f1f1;
  opacity: 0.85;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border: 6px #2a0845 solid;
  border-radius: 12px;
}

.overview div {
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview div .i {
  display: inline-block;
  font-size: 1.3rem;
  color: #2a0845;
  padding-right: 0.4rem;
}

.text {
  display: inline-block;
  margin: 0.6rem 0;
  padding: 0.3rem;
}

.text h6 {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.text p {
  font-size: 0.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #2a0845;
}

@media screen and (min-width: 320px) {
  .overview_container {
    height: 4rem;
  }

  .overview div .i {
    font-size: 1.3rem;
  }

  .text h6 {
    font-size: 0.55rem;
    line-height: 0.8rem;
  }

  .text p {
    font-size: 0.35rem;
  }

  .overview div {
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .overview {
    justify-content: space-evenly;
  }

  .overview div {
    height: 4rem !important;
  }

  .overview div .i {
    font-size: 1.5rem;
  }

  .text h6 {
    font-size: 0.9rem;
  }

  .text p {
    font-size: 0.8rem;
  }
}
section {
  width: 100vw;
}
section .best_selling {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  background: #ccc;
  margin-bottom: 1rem;
}
section .bestselling_header {
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
}
section .bestselling_header h1 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #2a0845;
}
section .bestselling_header .lines {
  height: 0.3rem;
  background: #dd1b1b;
  border-radius: 15px;
  width: 6rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}
section .product_card_layout {
  width: 100%;
  height: 17rem;
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section .product_card_layout::-webkit-scrollbar {
  display: none;
}
section .product_card {
  width: 14rem;
  height: 100%;
  background: #f1f1f1;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px #f1f1f1;
}
section .image_container {
  display: flex;
  justify-content: center;
  margin-top: 0.1rem;
  width: 100%;
  border-radius: 0.3rem;
}
section .image_container img {
  display: inline-block;
  object-fit: cover;
}
section .price_details_container {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
section .store, section .name,
section .price {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: #2a0845;
}
section .store {
  font-size: 1rem;
  text-transform: capitalize;
  color: #999;
}

.collections_container {
  background: #fff;
  width: 100%;
}

.collections {
  height: 100%;
  overflow-y: none !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.collections::-webkit-scrollbar {
  display: none;
}

.collections_header {
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
}

.collections_header h1 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #2a0845;
}

.collections_header .lines {
  height: 0.3rem;
  border-radius: 15px;
  width: 6rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.collections_layout {
  width: 100%;
  height: 100%;
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.collections_product_card {
  position: relative;
  width: 15rem;
  height: 20rem;
  background: #fff;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 0 auto;
  transition: all 0.2s ease;
}
.collections_product_card img {
  object-fit: cover !important;
}

@media screen and (min-width: 345px) {
  .collections_layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections_product_card {
    width: 10rem !important;
    margin-top: 0.3rem !important;
  }
}
@media screen and (min-width: 400px) {
  .collections_layout {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.1rem !important;
  }

  .collections_product_card {
    width: 12rem;
  }
}
@media screen and (min-width: 500px) {
  .collections_layout {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.1rem !important;
  }

  .collections_product_card {
    width: 10rem;
    margin-top: 0.3rem !important;
  }
}
@media screen and (min-width: 768px) {
  .collections_layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .collections_product_card {
    width: 15rem !important;
  }
}
@media screen and (min-width: 1024px) {
  .collections_layout {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem;
  }
}
.collections_product_card:hover {
  box-shadow: 2px 2px 10px 10px #ccc;
}

.discount_container {
  position: absolute;
  top: 1rem;
  right: 0;
  height: 1.5rem;
  width: 6rem;
  background: #dd1b1b;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.store, .product_name,
.product_price {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
  margin-top: 0.2rem;
  text-align: center;
  color: #2a0845;
}

.collections_details_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.product_name,
.product_price {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.store {
  font-size: 0.8rem;
  font-weight: lighter;
}

.collection_call {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add_cart {
  display: inline-block;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 0.7rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.add_cart {
  background: #dd1b1b;
  color: #fff;
  border: none;
  transition: transform 0.5 ease;
}

.add_cart:active {
  transform: translateY(3px);
}

.seperator_container {
  width: 100%;
  height: 17rem;
}

.seperator {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(1, 1, 1, 0.679), rgba(0, 0, 0, 0.3)), url("/images/seperator.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_content {
  height: 6rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow: 0px 0px 5px 1px #ccc;
  margin: 0 0.3rem;
}
.text_content h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5rem 0;
  color: #fff;
}
.text_content p {
  font-size: 1.5rem;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  color: #dd1b1b;
}

@media screen and (min-width: 768px) {
  .text_content {
    width: 50%;
  }

  .seperator_container {
    margin-top: 1rem;
  }
}
.container_review {
  height: 16rem;
  width: 100%;
  background: #2a0845;
}

.review_container {
  height: 100%;
  width: 100%;
  max-width: 64rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.review_container::-webkit-scrollbar {
  display: none;
}

.individual_review {
  position: relative;
  height: 11rem;
  width: 15.5rem;
  background: #2a0845;
  box-shadow: 1px 1px 5px 3px #0e0218;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.individual_review .reviewer_image {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: -1.9rem;
  left: -1rem;
}
.individual_review img {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid #2a0845;
  border-radius: 0.5rem;
}
.individual_review .text_container {
  height: 100%;
  width: 100%;
}
.individual_review .reviewer_heading {
  display: inline-block;
  width: 9rem;
  height: 1rem;
  margin-left: 3.5rem;
  margin-top: 0.8rem;
}
.individual_review .reviewer_heading h1 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #4caf50;
}
.individual_review P, .individual_review .reviewer_location p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.individual_review .reviewer_location {
  display: inline-block;
  width: 7rem;
  height: 1rem;
  margin-left: 3.4rem;
  margin-top: 0.1rem;
}
.individual_review .reviewer_location p {
  color: #999;
}
.individual_review .comments {
  display: inline-block;
  height: 6rem;
  margin-top: 1.5rem;
  overflow: hidden;
}
.individual_review P {
  text-align: left;
  margin-left: 0.6rem;
  line-height: 1.1rem;
  color: #f1f1f1 !important;
}

.down {
  margin-top: -0.5rem;
}

footer {
  height: 22rem;
  width: 100%;
  background: #ccc;
}

.newsletter {
  width: 100%;
  max-width: 64rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.newsletter::placeholder {
  text-align: center;
}

.developer_brand .date, .developer_brand .copyright, .about_footer a, .about_footer h6, .email_container h6 {
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.email_container {
  height: 5rem;
  width: 18rem;
  margin-top: 0.6rem;
}
.email_container h4 {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-bottom: 0.3rem;
}
.email_container h6 {
  margin-bottom: 0.3rem;
}
.email_container .email {
  width: 100%;
  height: 2.3rem;
  margin: 0.7rem auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email_container input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  text-indent: 1rem;
  margin-right: 0.1rem;
}
.email_container input:focus {
  outline-color: #2a0845;
}
.email_container .arrow {
  top: 0;
  display: inline-block;
  padding: 0.5rem;
  background: #2a0845;
  cursor: pointer;
}
.email_container .fa-chevron-right {
  font-size: 0.7rem;
}

.socialmedia_container {
  height: 6rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia_container .footer__icon {
  margin: 1rem;
}

.about_footer {
  width: 16rem;
  height: 4rem;
}
.about_footer h1 {
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
}
.about_footer h6 {
  margin: 0.4rem 0;
}
.about_footer a {
  display: block;
}

.line {
  height: 0.01rem;
  width: 98%;
  background: #2a0845;
  margin: 0 auto;
  margin-top: 0.6rem;
}

.developer_brand {
  height: 4rem;
  width: 10rem;
  margin: 0 auto;
  color: #2a0845;
}
.developer_brand .copyright {
  display: block;
  margin: 0.5rem auto;
}
.developer_brand .date {
  display: block;
}

@media screen and (min-width: 768px) {
  footer {
    height: 15rem;
  }

  .newsletter {
    height: 13rem;
    margin-top: 0.6rem;
    flex-direction: row;
  }

  .fa-chevron-right {
    font-size: 1rem !important;
    transform: none;
    color: #f1f1f1;
  }

  .line {
    margin-top: -2.5rem !important;
  }
}

/*# sourceMappingURL=main.css.map */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}